In [6]:
import pandas as pd

In [9]:
path_to_read = []
for target in ['toxic', 'obscene', 'threat', 'insult', 'identity_hate']:
    path = f'./data/tf_idf/tf_idf_{target}.csv'
    path_to_read.append(path)
    df = pd.read_csv(path)
    display(df)

   Unnamed: 0  areaUnderROC  numFeatures
0           0      0.637126           10
1           1      0.700205           50
2           2      0.770147          200

   Unnamed: 0  areaUnderROC  numFeatures
0           0      0.657162           10
1           1      0.745945           50
2           2      0.810831          200

   Unnamed: 0  areaUnderROC  numFeatures
0           0      0.647158           10
1           1      0.709965           50
2           2      0.811542          200

   Unnamed: 0  areaUnderROC  numFeatures
0           0      0.650869           10
1           1      0.731240           50
2           2      0.793148          200

   Unnamed: 0  areaUnderROC  numFeatures
0           0      0.614105           10
1           1      0.678879           50
2           2      0.740816          200

Видно, что увеличение параметра numFeatures положительно влияет на метрику качества, в данном случае AUC ROC.